<%= stylesheet_link_tag "meals/new", :media => "all" %>

<div class="jumbotron jumbotron-newpage mt-4">
  <div class="upper-content">
    <h1 class="heading-name mt-1 ">運動</h1>
    <div class="meal-record">
      <div id="stopwatchWrapper">
    <div id="stopwatch" class="watch">
      <span id="stopwatchHour" class="count">00</span>
        <span class="count">:</span>
        <span id="stopwatchMinute" class="count">00</span>
        <span class="count">:</span>
        <span id="stopwatchSecond" class="count">00</span>
        <span class="count">.</span>
        <span id="stopwatchMillisecond" class="second">000</span>
    </div>
    <div id="stopwatchControl">
      <button id="stopwatchStartAndStop">スタート</button>
      <button id="stopwatchClear">クリア</button>
      <%# <button id="stopwatchRecord">記録する</button> %>
    </div>
  </div>
    </div>
    <%= render 'form', event: @event %>
  </div>
</div>
