<h2>---</h2>
<p>---</p>

<div id="stopwatchWrapper">
  <div id="stopwatch">
    <span id="stopwatchHour">00</span>
      <span>:</span>
      <span id="stopwatchMinute">00</span>
      <span>:</span>
      <span id="stopwatchSecond">00</span>
      <span>:</span>
      <span id="stopwatchMillisecond">000</span>
  </div>
  <div id="stopwatchControl">
    <button id="stopwatchStartAndStop">スタート</button>
    <button id="stopwatchClear">クリア</button>
  </div>
</div>