<h4>----</h4>
<p>-----</p>

<% @meals.each do |meal| %>
  <div>
    <%= meal.content %>
  </div>
<% end %>

<% @motions.each do |motion| %>
  <div>
    <%= motion.content %>
  </div>
<% end %>

<% @sleeps.each do |sleep| %>
  <div>
    <%= sleep.content %>
  </div>
<% end %>  