<div class="jumbotron jumbotron-extend">
  <div class="container-fluid jumbotron-container">
    <h1 class="site-name" class="shadow-sm" ><span>生活</span>を<span>記録</span>しよう</h1>
    <p><a class="btn btn-black" href="#" role="button">Sign in</a></p>
  </div>
</div>