<h2>---</h2>
<p>---</p>

<body>
  <div class="wrapper">
    <div class="chat-side">
      <div class="mizu" id="lists" style="background: url('/images/one.png');">
        <a class="rate" href="#">85%</a>
        <input type="text" placeholder=" 単位:ml      (例)550" class="side-box">
        <input  class="side-btn" type="submit" value="send">
      </div>
    </div>
    <div class="chat-main">
      <div class="main-one">
        <%# <input type="submit"  value="食事開始" class="main-box btn-shadow"> %>
        <%= link_to "食事開始", new_meal_path, class: "main-box btn btn-shadow mt-4"%>
        <div class="balloon1-top">
          <p>ユーザー名を押すと記録の詳細が確認できます</p>
        </div>
      </div>
      <div class="main-two">
        <%= link_to "運動開始", new_motion_path, class: "main-box btn btn-shadow"%>
      </div>
      <div class="main-three">
        <%= link_to "睡眠開始", new_sleep_path, class: "main-box btn btn-shadow mb-4"%>
      </div>
    </div>
  </div>
</body>
  


  <%# <h3 class="mizu" id="lists" style="background-image: url('/images/one.png');"></h3> %>

