<h2>---</h2>
<p>---</p>

<div class="upper-content">
  <h1 class="heading-name">食事</h1>
  <div class="meal-record">
    <div id="timer" class="meal-time">00:00:000</div>
    <%# <input type="submit" value="start" class="start"> %>
    <button id="start" class="start">start</button>
    <button id="stop" class="start">stop</button>
    <button id="reset" class="start">reset</button>
  </div>
  <div class="memo">
    <div>メモ</div>
    <textarea class="memo-input"></textarea>
  </div>
  <div class="exit">
    <input type="submit" value="終了" class="exit-sub">
  </div>
</div>